/* General Page Styles */
.page-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.create-btn {
    margin-bottom: 20px;
    display: inline-block;
    font-size: 1.1rem;
    background-color: #71c4ef;
}

/* Table Styles */
.table-responsive {
    margin: 0 auto;
    max-width: 90%;
}

.table {
    border-collapse: separate;
    border-spacing: 0 10px;
}

    .table thead th {
        background-color: #343a40;
        color: #fff;
        padding: 10px;
    }

    .table tbody tr {
        background-color: #f8f9fa;
        border-bottom: 2px solid #dee2e6;
        transition: background-color 0.3s ease;
    }

        .table tbody tr:hover {
            background-color: #e9ecef;
        }

    .table td {
        padding: 15px;
        vertical-align: middle;
    }

        .table td a {
            margin-right: 10px;
        }

.btn-outline-secondary, .btn-outline-info, .btn-outline-danger {
    padding: 5px 10px;
    font-size: 0.9rem;
    border-radius: 5px;
}

    .btn-outline-secondary:hover, .btn-outline-info:hover, .btn-outline-danger:hover {
        color: #fff;
    }

.table .btn {
    margin-right: 5px;
    padding: 5px 10px;
}

/* Hover Effects */
.btn-success:hover {
    background-color: #28a745;
    border-color: #218838;
}

.btn-info:hover {
    background-color: #17a2b8;
    border-color: #117a8b;
}

.btn-danger:hover {
    background-color: #dc3545;
    border-color: #c82333;
}