@model IEnumerable<Booksy.Models.Book>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Books</h1>

<div class="back">
    <h3>Books</h3>
    <p>
        <a asp-controller="Book" asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
    <div class="books">
        @foreach (var book in Model) {
            <div>
                @await Html.PartialAsync("_BookViewPartial", (object)book)
                <div style="margin-left: 50px; color:#000;">
                    <a asp-controller="Book" asp-action="Edit" asp-route-BookId="@book.BookId" style="text-decoration: none; color: inherit;">Edit</a>
                    <a asp-controller="Book" asp-action="Details" asp-route-BookId="@book.BookId" style="text-decoration: none; color: inherit;">Details</a>
                    <a asp-controller="Book" asp-action="Delete" asp-route-BookId="@book.BookId" style="text-decoration: none; color: inherit;">Delete</a>
                </div>
            </div>
        }
    </div>
</div>
