@model Booksy.Models.Book

<div class="book-item">
    <img src="@Model.CoverUrl" alt="@Model.Title" />
    <h4>@Model.Title</h4>
    <p>@Model.Description</p>
</div>


<style>
    .book-item {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        width: 200px;
        text-align: center;
        border-radius: 5px;
    }

    .book-cover {
        max-width: 100%;
        height: auto;
    }

    .book-details {
        margin-top: 10px;
    }

    h3 {
        font-size: 3em;
    }
</style>
